@using NodesDLL
@model INode
@if (Model.nodes.Any())
{
    @foreach (var node in Model.nodes)
     {
    <div class="partial">
        <div class="partial-text-id">@node.Unit.name</div>
        <div class="partial-text-id">@node.Unit.position</div>
        <div class="partial-text-id">@node.Unit.fullname</div>
        <a class="btn btn-info btn-additional-style"
           asp-page="./Redirected/Detail"
           asp-route-nodeId="@node.nodeId"
           asp-route-groupId="@node.groupId">
            <i class="btn-text">Detail</i>
        </a>
        <a class="btn btn-success btn-additional-style"
           asp-page="./Redirected/Add"
           asp-route-parentId="@node.nodeId"
           asp-route-groupId="@node.groupId">
            <i class="btn-text">Add</i>
        </a>
        <a class="btn btn-warning btn-additional-style"
           asp-page="./Redirected/Edit"
           asp-route-nodeId="@node.nodeId"
           asp-route-groupId="@node.groupId">
            <i class="btn-text">Edit</i>
        </a>
        <a class="btn btn-danger btn-additional-style"
           asp-page="./Redirected/Delete"
           asp-route-nodeId="@node.nodeId"
           asp-route-groupId="@node.groupId">
            <i class="btn-text">Delete</i>
        </a>
        <a class="btn btn-secondary btn-additional-style"
           asp-page="./Redirected/Connection"
           asp-route-nodeId="@node.nodeId"
           asp-route-groupId="@node.groupId">
            <i class="btn-text">Connection</i>
        </a>
        @await Html.PartialAsync(@"~/Pages/_Partial.cshtml", node)
    </div>
     }
}