@page
@model AspNet.IndexModel
@{
    ViewData["Title"] = "Menu";
}

<h1>Menu</h1>

<div class="card-group">
    <a asp-page="./Tree/ShowJsonTree" class="btn btn-warning">Show save tree in JSON format</a>
</div>

<form>

    @if (Model.groups != null)
    {
        @if (Model.Message != null)
        {
            <div class="alert alert-info">@Model.Message</div>
        }
        <div class="card-group">
            <a asp-page="./Tree/AddTree" class="btn btn-success">Add new tree</a>
        </div>
        <h4>Tree List:</h4>
        <table class="table">
            @foreach (var g in Model.groups)
            {
                <tr>
                    <td>@g.name</td>
                    <td>@g.date</td>
                    <td>
                        <a class="btn btn-sm btn-success"
                           asp-page="./Main"
                           asp-route-groupId="@g.id">
                            View tree
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-sm btn-danger"
                           asp-page="./Tree/DeleteTree"
                           asp-route-groupId="@g.id">
                            DeleteTree
                        </a>
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <div class="alert-danger"> Ошибка соединения</div>
    }

</form>
