@page "{groupId:int}"
@model Asp.MainModel
@{
    ViewData["Title"] = "Main";
}

<h1>Nodes</h1>

<a asp-page="./Index" class="btn btn-primary">Return to menu</a>

@if (@Model.node != null)
{<form method="post">
        <button type="submit" class="btn btn-primary">Save JSON&Pdf</button>
    </form>

    <form method="get">

        <div class="partial">
            <div class="partial-text-id">@Model.node.Unit.name</div>
            <div class="partial-text-id">@Model.node.Unit.position</div>
            <div class="partial-text-id">@Model.node.Unit.fullname</div>
            <a class="btn btn-info btn-additional-style"
               asp-page="./Redirected/Detail"
               asp-route-nodeId="@Model.node.nodeId"
               asp-route-groupId="@Model.node.groupId">
                <i class="btn-text">Detail</i>
            </a>
            <a class="btn btn-success btn-additional-style"
               asp-page="./Redirected/Add"
               asp-route-parentId="@Model.node.nodeId"
               asp-route-groupId="@Model.node.groupId">
                <i class="btn-text">Add</i>
            </a>
            <a class="btn btn-warning btn-additional-style"
               asp-page="./Redirected/Edit"
               asp-route-nodeId="@Model.node.nodeId"
               asp-route-groupId="@Model.node.groupId">
                <i class="btn-text">Edit</i>
            </a>
            @await Html.PartialAsync(@"~/Pages/_Partial.cshtml", Model.node)
        </div>

    </form>
}

